In [198]:
import pandas as pd
import numpy as np
import random

In [144]:
customers = pd.read_csv("train.csv")
#customers = customers.drop(["Ever_Married", "Age", "Graduated", "Work_Experience", "Family_Size", "Var_1", "Segmentation"], axis=1)
customers

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A
...,...,...,...,...,...,...,...,...,...,...,...
8063,464018,Male,No,22,No,NaN,0.0,Low,7.0,Cat_1,D
8064,464685,Male,No,35,No,Executive,3.0,Low,4.0,Cat_4,D
8065,465406,Female,No,33,Yes,Healthcare,1.0,Low,1.0,Cat_6,D
8066,467299,Female,No,27,Yes,Healthcare,1.0,Low,4.0,Cat_6,B
8067,461879,Male,Yes,37,Yes,Executive,0.0,Average,3.0,Cat_4,B

In [ ]:
df1 = pd.read_csv("Train.csv.xls")
df1

In [145]:
df = pd.merge(customers, df1, left_index=True, right_index=True)
df = df.loc[:, ["Gender_x", "Age", "Profession","Work_Experience","Family_Size", "Spending_Score", "Cost_of_the_Product", "Prior_purchases", "Discount_offered"]]
df = df.dropna(subset="Profession")
df["Work_Experience"] = df["Work_Experience"].fillna(0.0)
df["Family_Size"] = df["Family_Size"].fillna(0.0)
df.reset_index(inplace=True, drop=True)
df

,Gender_x,Age,Profession,Work_Experience,Family_Size,Spending_Score,Cost_of_the_Product,Prior_purchases,Discount_offered
0,Male,22,Healthcare,1.0,4.0,Low,177,3,44
1,Female,38,Engineer,0.0,3.0,Average,216,2,59
2,Female,67,Engineer,1.0,1.0,Low,183,4,48
3,Male,67,Lawyer,0.0,2.0,High,176,4,10
4,Female,40,Entertainment,0.0,6.0,High,184,3,46
...,...,...,...,...,...,...,...,...,...
7939,Male,41,Artist,0.0,5.0,High,201,4,3
7940,Male,35,Executive,3.0,4.0,Low,271,6,3
7941,Female,33,Healthcare,1.0,1.0,Low,133,4,5
7942,Female,27,Healthcare,1.0,4.0,Low,256,4,6
7943,Male,37,Executive,0.0,3.0,Average,225,2,2

In [161]:
df.to_csv("customers.csv", index=False)
professions = df["Profession"].unique()
professions

array(['Healthcare', 'Engineer', 'Lawyer', 'Entertainment', 'Artist',
       'Executive', 'Doctor', 'Homemaker', 'Marketing'], dtype=object)

In [213]:
laptops = pd.read_csv("laptops.csv")
laptops = laptops.loc[:, ["Laptop", "Brand", "Final Price"]]

professions = df["Profession"].unique()
laptops["Profession"] = laptops.apply(lambda row: ", ".join([str(i) for i in random.sample(list(professions), np.random.choice(range(1, 3)))]), axis=1)
max_price = laptops["Final Price"].max()
min_price = laptops["Final Price"].min()
laptops["Normalized"] = (laptops["Final Price"]-min_price) / (max_price - min_price)
laptops

,Laptop,Brand,Final Price,Profession,Normalized
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,Asus,1009.00,"Doctor, Lawyer",0.116262
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,Alurin,299.00,"Homemaker, Executive",0.014095
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,Asus,789.00,Marketing,0.084604
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,MSI,1199.00,Doctor,0.143602
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,HP,669.01,"Artist, Healthcare",0.067338
...,...,...,...,...,...
2155,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Razer,2699.99,Marketing,0.359590
2156,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Razer,2899.99,Artist,0.388369
2157,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Razer,3399.99,"Artist, Marketing",0.460318
2158,Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...,Razer,1899.99,"Engineer, Entertainment",0.244472
2159,Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...,Razer,1699.99,"Healthcare, Artist",0.215693

In [216]:
keyboards = pd.read_csv("all_keyboards.csv")
keyboards = keyboards.iloc[:, [1, 2]]
keyboards["Profession"] = keyboards.apply(lambda row: ", ".join([str(i) for i in random.sample(list(professions), np.random.choice(range(1, 3)))]), axis=1)
max_price = keyboards["Price"].max()
min_price = keyboards["Price"].min()
keyboards["Normalized"] = (keyboards["Price"]-min_price) / (max_price - min_price)
keyboards

                          Name   Price             Profession  Normalized
0                 Philips K264    7.50                 Lawyer    0.011938
1        Philips SPT6324 Black    9.99      Executive, Artist    0.018222
2        Philips SPT6224 Black    8.93                 Lawyer    0.015547
3             Logitech MX Keys  106.44      Doctor, Executive    0.261641
4             Powertech PT-677    3.99             Healthcare    0.003079
...                        ...     ...                    ...         ...
1265           Esperanza TK105    6.80                 Artist    0.010171
1266  Keep Out F90E Gaming USB   39.90  Doctor, Entertainment    0.093708
1267            Gigabyte K8100   75.00          Entertainment    0.182293
1268             Approx Quasar   29.00      Doctor, Marketing    0.066199
1269            A4Tech X7 G100   17.00              Executive    0.035913

[1270 rows x 4 columns]

In [149]:
laptops.to_csv("laptops_data.csv", index=False)
keyboards.to_csv("keyboards_data.csv", index=False)

In [154]:
from dataclasses import dataclass

@dataclass
class Customer:
    def __init__(self, funds: int = None, possible_discount: float = None, profession: str = None, power: int = None):
        self.funds = funds
        self.possible_discount = possible_discount
        self.profession = profession
        self.power = power

def recommend(customer: Customer):
    multiplier = (1, 1)
    match customer.power:
        case 1:
            multiplier = (1, 1.5)
        case 2:
            multiplier = (1.5, 2.5)
        case 3: 
            multiplier = (2.5, np.inf)
    
    predictions = laptops[laptops["Profession"] == customer.profession]
    predictions = predictions[predictions["Final Price"] <= customer.funds * multiplier[1]]
    predictions = predictions[predictions["Final Price"] >= customer.funds * multiplier[0]]

    pred_key = keyboards[keyboards["Profession"] == customer.profession]
    pred_key = pred_key.sort_values(by="Price")
    
    mean = pred_key["Price"].mean()

    quantile = 0.5
    match customer.power:
        case 1:
            quantile = 1/3
            quant = np.quantile(pred_key["Price"], quantile)
            pred_key = pred_key[pred_key["Price"] < mean-quant]
        case 2:
            quantile = 1/3
            quant = np.quantile(pred_key["Price"], quantile)
            pred_key = pred_key[pred_key["Price"] > mean-quant]
            quantile = 2/3
            quant = np.quantile(pred_key["Price"], quantile)
            pred_key = pred_key[pred_key["Price"] < mean+quant]
        case 3: 
            quantile = 2/3
            quant = np.quantile(pred_key["Price"], quantile)
            pred_key = pred_key[pred_key["Price"] > mean+quant]
    
    return predictions, pred_key

def recommend2(customer: Customer):
    
    return predictor(customer, laptops, "Final Price"), predictor(customer, keyboards, "Price")

def predictor(customer: Customer, df: pd.DataFrame, column: str):
    pred_key = df[df["Profession"] == customer.profession]
    pred_key = pred_key.sort_values(by=column)
    mean = pred_key[column].mean()

    print

    quantile = 0.5
    match customer.power:
        case 1:
            quantile = 1/3
            quant = np.quantile(pred_key[column], quantile)
            pred_key = pred_key[pred_key[column] < mean-quant]
        case 2:
            quantile = 1/3
            quant = np.quantile(pred_key[column], quantile)
            pred_key = pred_key[pred_key[column] > mean-quant]
            quantile = 2/3
            quant = np.quantile(pred_key[column], quantile)
            pred_key = pred_key[pred_key[column] < mean+quant]
        case 3: 
            quantile = 2/3
            quant = np.quantile(pred_key[column], quantile)
            pred_key = pred_key[pred_key[column] > mean+quant]
    return pred_key

recommend2(Customer(funds=200, profession="Engineer", power=2))[0]

,Laptop,Brand,Final Price,Profession,Normalized
1395,HP 15S-FQ4053NS Intel Core i5-1155G7/8GB/256GB...,HP,542.99,Engineer,0.049204
1578,Lenovo V15 G3 ABA AMD Ryzen 5 5625U/8GB/512GB ...,Lenovo,547.63,Engineer,0.049872
149,ASUS ExpertBook P1512CEA-EJ0083X Intel Core i3...,Asus,549.00,Engineer,0.050069
851,HP 250 G8 59T50EA Intel Core i3-1115G4/8GB/512...,HP,549.00,Engineer,0.050069
439,ASUS Vivobook 14 F1400EA-EK1543W Intel Core i3...,Asus,549.00,Engineer,0.050069
...,...,...,...,...,...
596,Lenovo Legion Pro 7 16IRX8 Intel Core i9-13900...,Lenovo,2689.01,Engineer,0.358010
2109,MSI Raider GE76 12UGS-005XES Intel Core i7-127...,MSI,2749.00,Engineer,0.366642
199,Razer Blade 15 QHD Intel Core i7-12800H/16GB/1...,Razer,2799.99,Engineer,0.373979
916,Razer Blade 15 Advanced Model QHD Intel Core i...,Razer,2800.00,Engineer,0.373981
1646,Microsoft Surface Pro 7+ Intel Evo Core i7-116...,Microsoft,2842.50,Engineer,0.380096

In [151]:
class ProductRecommender:
    def __init__(self, laptops, keyboards, customer: Customer=None):
        self.laptops = laptops
        self.keyboards = keyboards
        self.customer = customer
    
    def update_customer(self, customer: Customer):
        if customer is None:
            raise Exception("Customer cannnot be none")
        self.customer = customer

    def recommend(self):
        if self.customer is None:
            raise Exception("Customer must be defeined, use update_customer")

        return self._filter_by_recommendation("Final Price", self.laptops), self._filter_by_recommendation("Price", self.keyboards)
    
    def _filter_by_recommendation(self, columm: str, df: pd.DataFrame):
        pred = df[df["Profession"] == self.customer.profession]
        pred = pred.sort_values(by=columm)
        
        mean = pred[str].mean()

        quantile = 0.5
        match self.customer.power:
            case 1:
                quantile = 1/3
                quant = np.quantile(pred[columm], quantile)
                pred = pred[pred[columm] < mean-quant]
            case 2:
                quantile = 1/3
                quant = np.quantile(pred[columm], quantile)
                pred = pred[pred[columm] > mean-quant]
                quantile = 2/3
                quant = np.quantile(pred[columm], quantile)
                pred = pred[pred[columm] < mean+quant]
            case 3: 
                quantile = 2/3
                quant = np.quantile(pred[columm], quantile)
                pred = pred[pred[columm] > mean+quant]
        
        return pred

In [202]:
from math import ceil
max_funds = df["Cost_of_the_Product"].max()
customer = Customer(funds=0.012, power=ceil(0.5548*3), profession="Engineer")
recommend2(customer)[0]

,Laptop,Brand,Final Price,Profession,Normalized
1117,Acer Extensa 15 EX215-54-54AL Intel Core i5-11...,Acer,709.65,Engineer,0.073186
1337,Dell Vostro 3420 Intel Core i5-1135G7/8 GB/256...,Dell,717.00,Engineer,0.074244
1997,Lenovo Yoga Creator 7 15IMH05 Intel Core i7-10...,Lenovo,786.84,Engineer,0.084293
1983,Lenovo ThinkPad T580 Intel Core i5-8250U/8GB/2...,Lenovo,802.00,Engineer,0.086475
1948,Lenovo IdeaPad Intel Core i5-1135G7/8GB/512GB ...,Lenovo,802.61,Engineer,0.086563
112,ASUS VivoBook F1605PA-MB124W Intel Core i7-113...,Asus,819.00,Engineer,0.088921
1782,Asus ROG Strix G15 G512LW-HN038 Intel Core i7-...,Asus,1106.34,Engineer,0.130268
1624,Microsoft Surface Laptop 4 Negro Intel Core i7...,Microsoft,1251.19,Engineer,0.151112
1309,Deep Gaming Nubian 15 Intel Core i7-13700H/32G...,Deep Gaming,1525.00,Engineer,0.190512
2083,MSI Prestige 14 A11SCX-002ES Intel Core i7-118...,MSI,1599.00,Engineer,0.201161
40,HP Omen 16-b1022ns Intel Core i7-12700H/32GB/1...,HP,1699.00,Engineer,0.215550
547,LG Gram 17ZD90R-G.AX75B Intel Evo Core i7-1360...,LG,1699.00,Engineer,0.215550
559,HP Spectre x360 14-ef0003ns Intel Evo Core i7-...,HP,1699.01,Engineer,0.215552
288,HP Pavilion Plus 14-eh0008ns Intel Core i7-125...,HP,1729.01,Engineer,0.219869
306,MSI Creator M16 B13VE-680XES Intel Core i7-137...,MSI,1749.00,Engineer,0.222745
321,ASUS TUF Gaming F17 FX707ZV4-HX004 Intel Core ...,Asus,1999.00,Engineer,0.258719
1637,Microsoft Surface Laptop 5 Platino Intel Evo C...,Microsoft,2150.38,Engineer,0.280503
806,LG Gram 17Z90Q Intel Core i7-1260P/32GB/512GB ...,LG,2209.00,Engineer,0.288938
941,MSI Pulse GL66 12UEK-034ES Intel Core i7-12700...,MSI,2217.07,Engineer,0.290099
1432,HP EliteBook 1040 G9 Intel Core i7-1255U/32GB/...,HP,2502.66,Engineer,0.331195
235,MSI Stealth 16 Studio A13VG-036XES Intel Core ...,MSI,2599.01,Engineer,0.345059
2120,MSI Stealth GS66 12UH-019ES Intel Core i7-1270...,MSI,3199.00,Engineer,0.431396

In [221]:
customer = Customer(funds=0.52, power=0.62, profession="Artist")

def recommend3(customer: Customer):
    st_dev = np.std(laptops["Normalized"])*customer.power
    pred_l = laptops[laptops["Profession"].str.contains(customer.profession)]
    pred_l = pred_l[pred_l["Normalized"] > customer.funds-st_dev]
    pred_l = pred_l[pred_l["Normalized"] < customer.funds+st_dev]

    st_dev = np.std(keyboards["Normalized"])*customer.power
    pred_k = keyboards[keyboards["Profession"].str.contains(customer.profession)]
    pred_k = pred_k[pred_k["Normalized"] > customer.funds-st_dev]
    pred_k = pred_k[pred_k["Normalized"] < customer.funds+st_dev]

    return pred_k, pred_l

recommend3(customer)[0]

,Name,Price,Profession,Normalized
673,Corsair K65 Lux RGB,187.00,"Artist, Doctor",0.464957
1029,Corsair K70 RGB MK.2 SE White (Cherry MX Speed),225.00,Artist,0.560861
1077,SteelSeries Apex 7 TKL (Steelseries Blue),189.00,"Executive, Artist",0.470005
1128,Asus ROG Strix Scope,182.29,"Entertainment, Artist",0.453070
1204,Roccat Ryos MK Pro,189.60,Artist,0.471519
1234,Roccat Vulcan 122 AIMO White,187.90,"Artist, Marketing",0.467229